//- pug mixins

mixin fa( $icon, $prefix, $option )
  -
    const style = $prefix || "fas"
    const option = $option || {}
    const query = { prefix: style, iconName: $icon }
    let fahtml = ''
    const insertlater = falibs.icons.find(el => el.prefix == style && el.iconName == $icon)
  if(insertlater && !isAmp)
    i(class=`fa ${style} ${$icon}` data-fa-prefix=style data-fa-icon-name=$icon data-fa-option=(JSON.stringify(option).replace(/\"/g,"'")))
  else
    -
      try {
        fahtml = fontawesome.icon(query, option).html[0]
      } catch(e2) {
        console.log(`Can't pick up icon: ${$icon}, ${style}`) 
      }
    | !{fahtml}

mixin fa_fw( $icon, $prefix )
  +fa( $icon, $prefix, {classes: ['fa-fw']})

mixin toc( headings, n, tag, cl)
  -
    function lv(a, b, ht){
      let r = a - b
      for(let j=0; r > j; j++){
        o += ht
      }
    }
    let o = `<${tag} class="${cl} m-0 p-0">`
    for(let i = 0; headings.length > i; i++){
      let now = headings[i], prev
      if (now.number < n)
        continue
      if (i == 0)
        prev = {number: n}
      else
        prev = headings[i - 1]
      if ( i == 0 || now.number > prev.number )
        lv(now.number, prev.number, `<${tag} class="${cl}">`)
      else if ( now.number < prev.number )
        lv(prev.number, now.number, `</${tag}>`)
      o += `<li><a href="#${now.id}">${now.text}</a></li>`
    }
    o += `</${tag}>`
  != o

-
  function pathMFilter(pathf){
    return pages.filter(function(e,i,a){
      if( typeof pathf === "string" ){
        return !e.canonical &&
          e.meta.permalink.indexOf(`${pathf}`) === 0 &&
          e.meta.permalink.replace(`${pathf}`, "") !== "" &&
          (e.meta.dirs.length === pathf.split('/').length || (e.meta.dirs.length === pathf.split('/').length + 1 && e.meta.dirs[e.meta.dirs.length - 1] === ""))
      } else if (typeof pathf === "object" && Array.isArray(pathf) ){
        for( c = 0; c < pathf.length; c++ ){
          if( !e.canonical &&
            e.meta.permalink.indexOf(`${pathf[c]}`) === 0 &&
            e.meta.permalink.replace(`${pathf[c]}`, "") !== "" &&
            e.meta.permalink.split('/').length === pathf.split('/').length + 1) return true
        }
      }
    })
  }

mixin lis_of_dir(pathf, $option)
  -
    let bpages = pathMFilter(pathf)
    bpages.sort( (a, b) => { return ( a.meta.permalink > b.meta.permalink ) ? 1 : -1 } )
    bpages.sort( (a, b) => a.attributes.rank - b.attributes.rank )
  each rpage in bpages
    li.mb-2
      a.d-block(href=`${site.url.path}${rpage.meta.permalink}`)
        div=rpage.attributes.title
        div.small.lh-12=rpage.attributes.description
      if($option.s == true && rpage.meta.permalink.endsWith("/"))
        ul.mt-1(clas=`${$option.unstyled ? 'list-unstyled' : ''}`)
          +lis_of_dir(rpage.meta.permalink, {s: true})

mixin embed_video(url)
  .embed-responsive.embed-responsive-16by9.video-embed
    iframe(src=url,allowfullscreen="allowfullscreen",frameborder="0",gesture="media",allow="encrypted-media").embed-responsive-item
mixin embed_nicovideo(vid)
  +embed_video(`https://embed.nicovideo.jp/watch/${vid}`)
mixin embed_youtube(vid)
  +embed_video(`https://www.youtube.com/embed/${vid}?controls=2&modestbranding=1&rel=0`)
mixin embed_youtube_autoplay(vid)
  +embed_video(`https://www.youtube.com/embed/${vid}?autoplay=1&controls=2&modestbranding=1&rel=0`)

//- https://developers.google.com/youtube/player_parameters?hl=ja

mixin mi()
  <svg aria-hidden="true" focusable="false" role="img" class="svg-inline--fa fa-w-16 fa-fw" version="1.1" viewBox="0 0 225.24 256.53" xmlns="http://www.w3.org/2000/svg"><path d="m112.63 0c-4.0923 0-7.873 2.183-9.9199 5.7266-5.7762 10.005-12.904 22.35-18.006 31.187-4.1125 7.1231-4.1125 15.896 0 23.02 5.0963 8.8286 12.217 21.157 17.99 31.158 2.0498 3.5493 5.836 5.7363 9.9355 5.7363s7.8877-2.187 9.9375-5.7363c5.7734-10.001 12.891-22.328 17.988-31.158 4.1125-7.1216 4.1125-15.896 0-23.02-5.1021-8.8372-12.228-21.182-18.006-31.187-2.0454-3.5435-5.8276-5.7266-9.9199-5.7266zm0 8.6426c1.0054 0 1.9328 0.53621 2.4356 1.4062l18.006 31.186c2.5683 4.4481 2.5683 9.9288 0 14.377-5.0978 8.83-12.215 21.157-17.99 31.158-0.5056 0.8758-1.44 1.416-2.4512 1.416s-1.9456-0.54022-2.4512-1.416c-5.7734-10.001-12.891-22.328-17.988-31.156-2.5683-4.4496-2.5683-9.9308 0-14.379 5.1021-8.8372 12.228-21.18 18.004-31.186 0.50272-0.87004 1.4315-1.4062 2.4355-1.4062zm101.13 49.76c-11.553 3.46e-4 -25.805 0.001897-36.01 0.001953-8.225-2e-6 -15.823 4.3867-19.936 11.51-5.0976 8.8278-12.216 21.156-17.99 31.156-2.0489 3.5498-2.0498 7.9243 0 11.475 2.0498 3.5503 5.8388 5.7378 9.9375 5.7383 11.548-6.8e-4 25.783-0.00176 35.979-0.00195 8.2238 7.2e-4 15.823-4.3867 19.936-11.51 5.1022-8.8371 12.23-21.179 18.006-31.186 2.0461-3.5432 2.0462-7.911 0-11.455-2.0462-3.5441-5.8296-5.7276-9.9219-5.7285zm-202.27 0.02539c-4.0915-3.53e-4 -7.8738 2.1844-9.9199 5.7285-2.0462 3.5441-2.0453 7.9107 0 11.455 5.7768 10.005 12.904 22.348 18.006 31.186 4.1125 7.123 11.712 11.51 19.938 11.51 10.194 7.3e-4 24.429-6.7e-4 35.977 0 4.0987-5e-4 7.8877-2.186 9.9375-5.7363 2.0498-3.5503 2.0489-7.9248 0-11.475-5.7745-10-12.892-22.328-17.99-31.158-4.1112-7.1223-11.711-11.51-19.936-11.51-10.204-5.7e-5 -24.458-9.03e-4 -36.012 0zm27.98 79.814c-8.225-1e-5 -15.825 4.3887-19.938 11.512-5.0976 8.8278-12.214 21.156-17.988 31.156-2.0489 3.5498-2.0498 7.9224 0 11.473 2.0498 3.5503 5.8388 5.7378 9.9375 5.7383 11.548-6.8e-4 25.783 1.9e-4 35.979 0 8.2238 7.2e-4 15.823-4.3867 19.936-11.51 5.1022-8.8371 12.228-21.181 18.004-31.188 2.0461-3.5432 2.0462-7.911 0-11.455-2.0462-3.5441-5.8277-5.7257-9.9199-5.7266-11.553 3.4e-4 -25.805-6e-5 -36.01 0zm110.3 0.02343c-4.0915-3.4e-4 -7.8738 2.1844-9.9199 5.7285s-2.0473 7.9107-0.00196 11.455c5.7768 10.005 12.904 22.348 18.006 31.186 4.1125 7.1231 11.712 11.51 19.938 11.51 10.194 7.3e-4 24.429-6.7e-4 35.977 0 4.0986-5e-4 7.8877-2.186 9.9375-5.7363 2.0498-3.5503 2.0489-7.9248 0-11.475-5.7745-10-12.892-22.328-17.99-31.158-4.1112-7.1223-11.711-11.51-19.936-11.51-10.204-5e-5 -24.456-8.9e-4 -36.01 0zm-110.3 8.6192c10.204-6e-5 24.457 3.4e-4 36.01 0 1.0048 3.5e-4 1.9335 0.53676 2.4355 1.4062 0.50272 0.87074 0.50211 1.9421 0 2.8125l-18.004 31.186c-2.568 4.4483-7.3148 7.1896-12.451 7.1895-10.196 2e-4 -24.43-0.00139-35.979-0.00196-1.0113 4e-5 -1.9475-0.53833-2.4531-1.4141-0.5056-0.87572-0.50566-1.9563 0-2.832 5.7745-10 12.891-22.327 17.988-31.156 2.5693-4.449 7.3168-7.1896 12.453-7.1894zm110.3 0.02343h36.01c5.1364-1.8e-4 9.8832 2.7412 12.451 7.1895 5.0981 8.8298 12.216 21.157 17.99 31.158 0.50566 0.87576 0.5056 1.9544 0 2.8301-0.5056 0.87573-1.4419 1.416-2.4531 1.416-11.548-6.7e-4 -25.782-5.2e-4 -35.977 0-5.1376-5.4e-4 -9.8851-2.7411-12.453-7.1894-5.1022-8.8372-12.227-21.18-18.004-31.186-0.50211-0.87039-0.502-1.943 0-2.8125 0.50271-0.87073 1.4307-1.4059 2.4356-1.4062zm-37.154 12.793c-4.0923 0-7.875 2.183-9.9219 5.7266-5.7762 10.005-12.902 22.35-18.004 31.188-4.1125 7.1231-4.1125 15.896 0 23.02 5.0963 8.8286 12.215 21.157 17.988 31.158 2.0498 3.5493 5.838 5.7363 9.9375 5.7363s7.8877-2.187 9.9375-5.7363c5.7734-10.001 12.891-22.328 17.988-31.158 4.1125-7.1216 4.1125-15.896 0-23.02-5.1021-8.8372-12.228-21.182-18.006-31.188-2.0454-3.5435-5.8276-5.7266-9.9199-5.7266z" fill="currentColor"/></svg>

mixin i18n(target, strs)
  | #{i18n(target, strs)}

mixin editLink()
  a(href=`https://github.com/joinmisskey/joinmisskey.github.io/edit/${page.meta.src.dir}/${page.meta.src.base}` target="_blank" rel="noopener")
    +fa_fw('pencil-alt', 'fas')
    +i18n('edit_this_page')

mixin picture(img)
  - const iu = path.parse(img.src)
  - if (!img.sizes) img.sizes = "100vw, (min-width: 576px) 50vw, (min-width: 1200px) 30vw"
  - const suf = `?v=${site.image_compressing_strategy_version}`
  picture
    source(srcset=`${urlPrefix}${iu.dir}/${iu.name}.360.webp${suf} 360w, ${urlPrefix}${iu.dir}/${iu.name}.720.webp${suf} 720w, ${urlPrefix}${iu.dir}/${iu.name}.webp${suf} 1200w` type="image/webp" sizes=img.sizes)
    source(srcset=`${urlPrefix}${iu.dir}/${iu.name}.360${iu.ext}${suf} 360w, ${urlPrefix}${iu.dir}/${iu.name}.720${iu.ext}${suf} 720w, ${urlPrefix}${iu.dir}/${iu.base}${suf}` sizes=img.sizes)
    img(src=`${img.src}${suf}` alt=img.alt class=img.class id=img.id title=img.title loading=img.loading)

mixin ad(setting)
  if(!isAmp)
    ins.adsbygoogle(
      class=setting.class
      style=(setting.style || "display:block;")
      data-ad-client="ca-pub-1736621122676736"
      data-ad-slot=setting.slot data-ad-format=(setting.format || "auto")
      data-full-width-responsive=(setting.allowFullWidth || "false")
      data-ad-layout-key=setting.layoutKey)
  else
    amp-ad(
      class=setting.class
      width=setting.width
      height=setting.height
      type="adsense"
      data-ad-client="ca-pub-1736621122676736"
      data-ad-slot=setting.slot
      data-auto-format=setting.autoFormat
      data-full-width=setting.fullWidth)
      div(overflow="")

mixin blog_badges(targetpage)
  div.mr-2
    +fa_fw("folder-open")
    if(targetpage.attributes.categories)
      each category in targetpage.attributes.categories
        span.badge.badge-success.md-small= category
        |  
    else
      +i18n('null')
  div.mr-2
    +fa_fw("tags")
    if(targetpage.attributes.tags)
      each tag in targetpage.attributes.tags
        span.badge.badge-secondary.md-small= tag
        |  
    else
      +i18n('null')

mixin instancesList(o, colors, sctrollts)
  .instances-list(class=(scrollts ? `scrollts scrollts-${scrollts}` : ''))
    -
      let c = colors ? `text-${colors[0]} bg-${colors[2]}` : 'text-dark'
      let c2 = colors ? `text-${colors[1]}` : 'text-muted'
      let lgrgb = colors && colors[3] == 'dark' ? '52, 58, 64' : '255, 255, 255'
      let num = 0

    -
      const filteredInstances = instancesInfos.filter((instance, i) => {
        const versionOk = instance.isAlive ? !semver.satisfies(instance.meta.version, site.insecureMisskeyVersions) : true
        if (!versionOk) return false
        const ilang = instance.langs ? instance.langs.some(e => e == locale) : true
        if (!ilang) return false
        const iregi = instance.notSuspended || (instance.isAlive && (instance.meta.features ? instance.meta.features.registration : !instance.meta.disableRegistration))
        const alive = !instance.suspended && (instance.notSuspended || instance.isAlive)
        if(alive && iregi && ilang) num += 1
        switch(o){
          case 'selected':
            if (alive && iregi && num <= 7) return true
            break
          case 'nonselected':
            if (alive && iregi && num > 7) return true
            break
          case 'registration-open':
            if (alive && iregi) return true
            break
          case 'suspended':
            if (!alive) return true
            break
          case 'registration-closed':
            if (alive && !iregi) return true
            break
        }
        return false
      })

    if(filteredInstances.length > 0)
      each instance, r in filteredInstances
        -
          let s = (instance.isAlive && instance.meta.bannerUrl) ?
          `background: linear-gradient(rgb(${lgrgb}, .76), rgba(${lgrgb}, .9)), url('/files/images/instance-banners/${instance.url}.jpeg?${update.getTime().toString(36)}'); background-size: cover; background-clip: padding-box; background-position: center; text-shadow: 0 0 1.2px rgb(${lgrgb}), 0 0 1.2px rgb(${lgrgb});` :
          ``
        if(instance.isAlive)
          a(href=`https://${instance.url}` target="_blank" rel="noopener" class=c style=s data-instance-value=instance.value).instance.card.d-flex.flex-column.align-items-start.mx-2.mt-3.p-4
            h3.noindex.mb-1
              if(instance.name || (instance.meta.name && instance.meta.name !== 'Misskey' && instance.meta.name !== punycode.toUnicode(instance.url)))
                div= (instance.name || instance.meta.name)
                div.small.font-weight-light(class=c2)= instance.url
              else
                = punycode.toUnicode(instance.url)
            if(instance.description)
              p.my-1.lh-12.small(class=c2)
                | #{(instance.description.slice(0, 120) || '')}#{instance.description.length > 120 ? '…' : ''}

            .instance-infos.d-flex.flex-wrap.small(class=c2)
              if(instance.meta.features)
                if( !instance.meta.features.localTimeLine )
                  abbr(title=i18n('instance_localTimeLineDisabled')).opacity-050
                    +fa_fw('comments')
                else
                  abbr(title=i18n('instance_localTimeLineEnabled'))
                    +fa_fw('comments')
                if( instance.meta.features.recaptcha || instance.meta.features.hcaptcha )
                  abbr(title=i18n('instance_recaptchaEnabled'))
                    +fa_fw('shield-alt')
                else
                  abbr(title=i18n('instance_recaptchaDisabled')).opacity-050
                    +fa_fw('shield-alt')
                if( instance.meta.features.objectStorage )
                  abbr(title=i18n('instance_objectStorageEnabled'))
                    +fa_fw('cube')
                else
                  abbr(title=i18n('instance_objectStorageDisabled')).opacity-050
                    +fa_fw('cube')
                each service in mkConnectServices
                  if( instance.meta.features[service.toLowerCase()] )
                    abbr(title=i18n('instance_serviceConnectionEnabled', [service]))
                      +fa_fw(service.toLowerCase(), 'fab')
                  else
                    abbr(title=i18n('instance_serviceConnectionDisabled', [service])).opacity-050
                      +fa_fw(service.toLowerCase(), 'fab')
                if( instance.meta.features.serviceWorker )
                  abbr(title=i18n('instance_serviceWorkerEnabled'))
                    +fa_fw('bell')
                else
                  abbr(title=i18n('instance_serviceWorkerDisabled')).opacity-050
                    +fa_fw('bell')
              if( instance.meta.enableEmail )
                abbr(title=i18n('instance_serviceConnectionEnabled', [i18n('email')]))
                  +fa_fw('envelope-square')
              else
                abbr(title=i18n('instance_serviceConnectionDisabled', [i18n('email')])).opacity-050
                  +fa_fw('envelope-square')
            .instance-infos.d-flex.flex-wrap.small(class=c2)
              if(instance.stats.originalUsersCount)
                - const users = instance.stats.originalUsersCount
                .instance-infos-item.mr-2
                  abbr(title=i18n('instance_users'))
                    +fa('users')
                  |  #{numeral(users).format(users >= 10000 ? '0.0a' : '0,0')}
              if(instance.stats.originalNotesCount)
                - const notes = instance.stats.originalNotesCount
                .instance-infos-item.mr-2
                  abbr(title=i18n('instance_notes'))
                    +fa('pencil-alt')
                  |  #{numeral(notes).format(notes >= 10000 ? '0.0a' : '0,0')}
              if(instance.meta.maxNoteTextLength)
                .instance-infos-item.mr-2
                  abbr(title=i18n('instance_maxNoteTextLength'))
                    +fa('i-cursor')
                  |  #{instance.meta.maxNoteTextLength}
              if(instance.meta.driveCapacityPerLocalUserMb)
                .instance-infos-item.mr-2
                  abbr(title=i18n('instance_driveCapacityPerLocalUser'))
                    +fa('hdd')
                  |  #{numeral(instance.meta.driveCapacityPerLocalUserMb + 'MB').format('0.0b')}
              if(instance.meta.version)
                .instance-infos-item.mr-2 v#{instance.meta.version}
              if(instance.meta.maintainerName || instance.meta.maintainer)
                .instance-infos-item
                  abbr(title=i18n('instance_maintainer'))
                    +fa('user-cog')
                  |  #{instance.meta.maintainerName || instance.meta.maintainer.name}
        else
          .instance(class=c style=s data-instance-value=instance.value).card.flex.flex-column.align-items-start.mx-2.mt-3.p-4
            h4.noindex
              if(instance.name)
                | #{instance.name || instance.meta.name}<span class="${c2}"> - #{instance.url}</span>
              else
                = punycode.toUnicode(instance.url)

            if(instance.notSuspended)
              .instance-infos.d-flex.flex-wrap.small(class=c2)
                +i18n('instance_notSuspended')

        if(!colors && r % 10 === 3 && o !== "suspended")
          .p-0.mx-2.mt-4.mb-1
            +ad({ class: "aitaso", slot: "3082977035", format: "horizontal", allowFullWidth: "false" })

    else
      +i18n("none")
